*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    /* cursor: none; */

}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#crsr{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: difference;

    position: absolute;

    transition: all linear 0.1s;
}

h1{
    font-size: 10vw;
    cursor: none;
}